<form class="layui-form" action="">
    <div class="createOrderDiv">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>创建订单</legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label">套餐名称</label>
            <div class="layui-input-block">
                <label class="layui-form-label" style="width: auto">$!{offer.offerName}</label>
                <input type="hidden" name="offerId" id="J_offerId" value="$!{offer.offerId}">
            </div>
        </div>
        <div class="layui-form-item" #if(${buyJson} && ${buyJson.NONE} )  style="display: block" #else  style="display: none" #end>
            <label class="layui-form-label">普通价格</label>
            <label class="layui-form-label" style="width: auto">￥ $!{buyJson.NONE}</label>
        </div>
        <div class="layui-form-item" #if(${buyJson} && ${buyJson.VIP}) style="display: block" #else  style="display: none" #end>
            <label class="layui-form-label">VIP价格</label>
            <label class="layui-form-label" style="width: auto">￥ $!{buyJson.VIP}</label>
        </div>
        <div class="layui-form-item" #if(${buyJson} && ${buyJson.SVIP} ) style="display: block" #else  style="display: none" #end>
            <label class="layui-form-label">SVIP价格</label>
            <label class="layui-form-label" style="width: auto">￥ $!{buyJson.SVIP}</label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择客户</label>
            <div class="layui-input-block">
                <select name="custId" id="J_custId" class="searchCust" style="width: 60%;" lay-ignore>
                    <option></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="createOrder">生成订单</button>
            </div>
        </div>
    </div>

    <div class="payOrderDiv" style="display: none">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>订单确认</legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label">订单号</label>
            <div class="layui-input-block">
                <label class="layui-form-label" style="width: auto" id="D_orderId"></label>
                <input type="hidden" name="orderId" id="J_orderId">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订单名称</label>
            <div class="layui-input-block">
                <label class="layui-form-label" style="width: auto" id="D_orderName"></label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订购人</label>
            <div class="layui-input-block">
                <label class="layui-form-label" style="width: auto" id="D_nickName"></label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订单价格</label>
            <div class="layui-input-block">
                <label class="layui-form-label" style="width: auto" id="D_orderMoney"></label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">登录密码</label>
            <div class="layui-input-block">
                <input type="password" id="J_password" class="layui-input" placeholder="请输入管理员登录密码二次确认">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="payOrder">确认支付</button>
            </div>
        </div>
    </div>
</form>

<script src="${rc.contextPath}/static/jquery/jquery.md5.js"></script>
<script>
    var form = layui.form
            ,layer = layui.layer;

    $(".searchCust").select2({
        ajax: {
            type:'POST',
            url: contextPath + "/admin/cust/list",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    phone: params.term.trim(), // search term 请求参数 ， 请求框中输入的参数
                    page: params.page||1,
                    size:20
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                var itemList = [];//当数据对象不是{id:0,text:'ANTS'}这种形式的时候，可以使用类似此方法创建新的数组对象
                if(data.data){
                    var arr = data.data;
                    for(item in arr){
                        itemList.push({id: arr[item].custId, text: arr[item].nickName})
                    }
                }
                return {
                    results: itemList,//itemList
                    pagination: {
                        more: (params.page * 20) < data.total
                    }
                };
            },
            cache: true
        },
        placeholder:'请输入客户手机号码/邮箱',//默认文字提示
        // tags: true,//允许手动添加
        allowClear: true,//允许清空
        escapeMarkup: function (markup) { return markup; }, // 自定义格式化防止xss注入
        minimumInputLength: 2,//最少输入多少个字符后开始查询
        formatResult: function formatRepo(repo){return repo.text;}, // 函数用来渲染结果
        formatSelection: function formatRepoSelection(repo){return repo.text;} // 函数用于呈现当前的选择
    });

    //创建订单
    form.on('submit(createOrder)', function(data){
        var custId = $("#J_custId").val();
        var offerId = $("#J_offerId").val();
        if(custId==undefined||custId==null||custId==''){
            parent.layer.msg("请选择客户");
            return;
        }
        if(offerId==undefined||offerId==null||offerId==''){
            parent.layer.msg("offerId为空");
            return;
        }
        $.ajax({
            type: "POST",
            url: contextPath + "/admin/order/createOrder.html",
            data: {
                offerId: offerId,
                custId: custId
            },
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    // 设置信息
                    $(".createOrderDiv").hide();
                    var info = data.data;
                    $("#D_orderId").text(info.orderId);
                    $("#D_orderName").text(info.orderName);
                    $("#D_orderMoney").text(info.orderMoney);
                    $("#D_nickName").text(info.nickName);
                    $("#J_orderId").val(info.orderId);

                    $(".payOrderDiv").show();
                } else {
                    parent.layer.msg(data.msg);
                }
            }
        });
        return false;
    });

    //支付订单
    form.on('submit(payOrder)', function(data){
        var orderId = $("#J_orderId").val();
        var password = $("#J_password").val();
        var custId = $("#J_custId").val();
        if(password==undefined||password==null||password==''){
            parent.layer.msg("请输入密码");
            return;
        }
        if(orderId==undefined||orderId==null||orderId==''){
            parent.layer.msg("订单号为空");
            return;
        }
        $.ajax({
            type: "POST",
            url: contextPath + "/admin/order/payOrder.html",
            data: {
                custId:custId,
                orderId: orderId,
                password: $.md5(password)
            },
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    parent.layer.msg(data.msg, {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        parent.layer.closeAll();
                    });
                } else {
                    parent.layer.msg(data.msg);
                }
            }
        });
        return false;
    });
</script>
