
<div>
    <table id="dataTable" lay-filter="userDataTable"></table>
</div>
<script type="text/html" id="offerTypeTpl">
    {{#  if(d.offerType==='VIP'){ }}
    服务
    {{#  } else if(d.offerType==='CLASS'){ }}
    课程类型
    {{#  } else if(d.offerType==='ACTIVE'){ }}
    活动
    {{#  } else { }}
    套餐
    {{#  } }}
</script>
<script type="text/html" id="buyPriviTpl">
    {{#  if(d.buyPrivi){ }}
    {{#  var result = "", json = eval("("+d.buyPrivi+")"); result += (json.NONE?" 普通：" + json.NONE:""); result += (json.VIP?" VIP：" + json.VIP:""); result += (json.SVIP?" SVIP：" + json.SVIP:"");}}
    {{#  return result; }}
    {{#  } else { }}
    不允许直接购买
    {{#  } }}
</script>

<script type="text/javascript">
    var table = layui.table;
    table.render({ //其它参数在此省略
        url: 'showOffer.html',
        method: 'POST',
        elem: '#dataTable', //指定原始表格元素选择器（推荐id选择器）
        height: 400, //容器高度
        where : {
            offerId:'$!{offerId}',
            relType: '$!{relType}'
        },
        cols: [[
            {
                field: 'offerName',
                title: '商品名称',
                width: 120
            },
            {
                field: 'catalogName',
                title: '分类',
                width: 100
            },
            {
                field: 'offerType',
                title: '商品类型',
                width: 100,
                templet : '#offerTypeTpl'
            },
            {
                field: 'saleMoney',
                title: '售价',
                width: 80
            },
            {
                field: 'buyPrivi',
                title: '权限&价格',
                width: 240,
                templet : '#buyPriviTpl'
            },
            {
                field: 'createdAt',
                title: '创建时间',
                width: 180
            }
        ]],
        response: {
            statusName: 'code', //数据状态的字段名称，默认：code
            statusCode: 1, //成功的状态码，默认：0
            msgName: 'msg', //状态信息的字段名称，默认：msg
            countName: 'total', //数据总数的字段名称，默认：count
            dataName: 'data' //数据列表的字段名称，默认：data
        },
        even: true
    });
</script>