<link rel="stylesheet" href="${rc.contextPath}/static/jingyi/publicPage/publicPage.css"
      xmlns="http://www.w3.org/1999/html">
<div style="padding: 10px; background-color: #432f2e; color: #e4ab7f">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>播放视频</legend>
    </fieldset>
    <ul class="layui-timeline">
        <li class="layui-timeline-item">
            <div id="id_video_container_4564972818944963063" style="width:650px;height:100%;"></div>
        </li>
    </ul>
</div>

<script src="//imgcache.qq.com/open/qcloud/video/h5/h5connect.js" charset="utf-8"></script>
<script type="text/javascript"> (function () {
    var option = {
        "auto_play": "0",
        "file_id": "4564972818944963063",
        "app_id": "1251487038",
        "width": 650,
        "height": "100%",
        "https": 1
    };
    /*调用播放器进行播放*/
    new qcVideo.Player(/*代码中的id_video_container将会作为播放器放置的容器使用,可自行替换*/ "id_video_container_4564972818944963063", option);
})() </script>