<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
    <legend>搜索条件</legend>
</fieldset>
<form class="layui-form" action="">
    <div class="layui-row layui-form-item">
        <div class="layui-inline layui-col-lg3">
            <label class="layui-form-label">消费者</label>
            <div class="layui-input-inline" >
                <input type="text" name="custName" placeholder="消费者姓名" class="layui-input">
            </div>
        </div>
        <div class="layui-inline layui-col-lg3">
            <select name="type">
                <option value="">收入类型</option>
                <option value="1">套餐/课程</option>
                <option value="3">VIP</option>
                <option value="5">活动</option>
            </select>
        </div>
    </div>
    <div class="layui-row layui-form-item">
        <div class="layui-inline layui-col-lg3">
            <label class="layui-form-label">明细内容</label>
            <div class="layui-input-inline" >
                <input type="text" name="detailName" placeholder="明细详情，支持模糊查询" class="layui-input">
            </div>
        </div>
        <div class="layui-inline layui-col-lg3">
            <div class="layui-input-inline">
                <input type="text" name="rangDate" placeholder="收入时间" id="createdAt" class="layui-input">
            </div>
        </div>
        <div class="layui-inline layui-col-lg2">
            <button class="layui-btn layui-btn" id="searchList" lay-submit lay-filter="searchForm">查询</button>
        </div>
    </div>
</form>
<div>
    <table id="dataTable" lay-filter="userDataTable"></table>
</div>

<script type="text/html" id="typeTpl">
    {{#  if(d.type===1){ }}
    套餐/课程
    {{#  } else if(d.type===3){ }}
    VIP
    {{#  } else if(d.type===5){ }}
    活动
    {{#  } else { }}
    未知
    {{#  } }}
</script>

<script src="${rc.contextPath}/static/jingyi/account/companyIncome.js"></script>