<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
    <legend>搜索条件</legend>
</fieldset>
<form class="layui-form" action="">
    <div class="layui-row layui-form-item">
        <div class="layui-inline layui-col-lg3">
            <label class="layui-form-label">友商名称</label>
            <div class="layui-input-inline" >
                <input type="text" name="name" placeholder="友商名称" class="layui-input">
            </div>
        </div>
        <div class="layui-inline layui-col-lg3">
            <div class="layui-input-inline">
                <input type="text" name="url" placeholder="链接" class="layui-input">
            </div>
        </div>
        <div class="layui-inline layui-col-lg4">
            <button class="layui-btn layui-btn" id="searchList" lay-submit lay-filter="searchForm">查询</button>
            <input type="button" class="layui-btn" onclick="addFriendLink()" value="新增链接"/>
        </div>
    </div>
</form>
<div>
    <table id="dataTable" lay-filter="userDataTable"></table>
</div>
<script type="text/html" id="barTable">
    {{#  if(d.status===0){ }}
    <a class="layui-btn layui-btn-mini" lay-event="onFriendLink">发布</a>
    <a class="layui-btn layui-btn-mini" lay-event="editFriendLink">编辑</a>
    <a class="layui-btn layui-btn-mini" lay-event="deleteFriendLink">删除</a>
    {{#  } else { }}
    <a class="layui-btn layui-btn-mini" lay-event="offFriendLink">取消</a>
    {{#  } }}
</script>

<script type="text/html" id="picTpl">
    {{#  if(d.pic){ }}
    <a class="layui-btn layui-btn-mini" onclick="playMedia('{{ d.pic }}', 'PIC')"><i class="layui-icon">&#xe64a;</i>图片</a>
    {{#  } else { }}
    无
    {{#  } }}
</script>

<script type="text/html" id="urlTpl">
    {{#  if(d.url){ }}
    <a class="layui-btn layui-btn-mini" onclick="playMedia('{{ d.url }}', 'URL')"><i class="layui-icon">&#xe64c;</i>链接</a>
    {{#  } else { }}
    无
    {{#  } }}
</script>
<script type="text/html" id="statusTpl">
    {{#  if(d.status===0){ }}
    未发布
    {{#  } else { }}
    已发布
    {{#  } }}
</script>

<script src="${rc.contextPath}/static/jingyi/common.js"></script>
<script src="${rc.contextPath}/static/jingyi/friendLink/friendLink.js"></script>