<input type="hidden" name="htmlId" value="$!{htmlId}">
<div class="layui-input-block" id="editor">
$!{htmlInfo}
</div>
<link rel="stylesheet" href="${rc.contextPath}/static/wangEditor/wangEditor.css">
<script src="${rc.contextPath}/static/xss/xss.js"></script>
<script type="text/javascript" src="${rc.contextPath}/static/wangEditor/wangEditor.js"></script>
<script>
    //创建一个编辑器
    var E = window.wangEditor;
    var editor = new E('#editor');
    editor.customConfig.menu = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        'emoticon',  // 表情
        'image',  // 插入图片
        'table',  // 表格
        'video',  // 插入视频
        'code',  // 插入代码
        'undo',  // 撤销
        'redo'  // 重复
    ];
    editor.customConfig.fontNames = [
        '宋体',
        '微软雅黑',
        'Arial',
        'Tahoma',
        'Verdana'
    ];
    // 开启debug
    // editor.customConfig.debug = location.href.indexOf('wangeditor_debug_mode=1') > 0;
    // 隐藏“网络图片”tab
    editor.customConfig.showLinkImg = false;
    editor.customConfig.uploadImgShowBase64 = true;// 使用 base64 保存图片
    // 超链接的校验
    editor.customConfig.linkCheck = function (text, link) {
        return IsURL(link);
    }
    editor.create();

    function IsURL(url){
        var strRegex = "^((https|http|ftp|rtsp|mms)?://)"
                + "?(([0-9a-z_!~*'().&=+$%-]+: )?[0-9a-z_!~*'().&=+$%-]+@)?" //ftp的user@
                + "(([0-9]{1,3}\.){3}[0-9]{1,3}" // IP形式的URL- 199.194.52.184
                + "|" // 允许IP和DOMAIN（域名）
                + "([0-9a-z_!~*'()-]+\.)*" // 域名- www.
                + "([0-9a-z][0-9a-z-]{0,61})?[0-9a-z]\." // 二级域名
                + "[a-z]{2,6})" // first level domain- .com or .museum
                + "(:[0-9]{1,4})?" // 端口- :80
                + "((/?)|" // a slash isn't required if there is no file name
                + "(/[0-9a-z_!~*'().;?:@&=+$,%#-]+)+/?)$";
        var re=new RegExp(strRegex);
        if (re.test(url)){
            return (true);
        }else{
            return (false);
        }
    }

    function saveHtml(htmlId) {
        var htmlStr = editor.txt.html();
        var editorUrl;
        if(htmlId){
            editorUrl = contextPath + "/admin/htmlInfo/edit.html";
        } else {
            editorUrl = contextPath + "/admin/htmlInfo/add.html";
        }
        // var htmlInfo = filterXSS(htmlStr);
        $.ajax({
            type: "POST",
            url: editorUrl,
            data : {htmlInfo : htmlStr, htmlId: htmlId},
            async : false,
            dataType:"json",
            success: function(data) {
                if(data.code == 1){
                    htmlId = data.data;
                } else {
                    parent.layer.msg(data.msg);
                    htmlId = undefined;
                }
            }
        });
        return htmlId;
    }
</script>