<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loxf.jyadmin.dal.dao.AccountDetailMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.jyadmin.dal.po.AccountDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="detail_name" property="detailName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="change_balance" property="changeBalance" jdbcType="DECIMAL" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cust_id, order_id, detail_name, `type`, balance, change_balance, created_at, updated_at
  </sql>

  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_account_detail
    where order_id = #{order_id}
  </select>

  <insert id="insert" parameterType="org.loxf.jyadmin.dal.po.AccountDetail" >
    insert into tb_account_detail (id, cust_id, order_id, 
      detail_name, `type`, balance,
      change_balance, created_at, updated_at
      )
    values (#{id,jdbcType=BIGINT}, #{custId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{detailName,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{balance,jdbcType=DECIMAL}, 
      #{changeBalance,jdbcType=DECIMAL}, now(), now()
      )
  </insert>

  <select id="sumByType" resultType="java.lang.Integer">
      select ifnull(sum(change_balance), 0)  from tb_account_detail
        where cust_id = #{custId}
        <if test="type!=null">
          and type = #{type}
        </if>
        <if test="dayBefore!=null and dayBefore>=0 ">
            and created_at >= (CAST(SYSDATE()AS DATE)  - INTERVAL #{dayBefore} DAY)
        </if>
  </select>
</mapper>