<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loxf.jyadmin.dal.dao.ActiveCustListMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.jyadmin.dal.po.ActiveCustList" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="active_id" property="activeId" jdbcType="VARCHAR" />
    <result column="active_name" property="activeName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cust_id, phone, name, active_id, active_name, status, created_at, updated_at
  </sql>
  <select id="queryList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_active_cust_list
    where active_id = #{activeId}
  </select>

  <insert id="insert" parameterType="org.loxf.jyadmin.dal.po.ActiveCustList" >
    insert into tb_active_cust_list (cust_id, phone,
      name, active_id, active_name, 
      status, created_at, updated_at
      )
    values (#{custId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{activeId,jdbcType=VARCHAR}, #{activeName,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, now(), now() )
  </insert>

  <select id="countByActiveId" parameterType="String" resultType="java.lang.Integer">
    select count(1) from tb_active_cust_list where active_id = #{activeId}
  </select>
</mapper>