<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loxf.jyadmin.dal.dao.ConfigMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.jyadmin.dal.po.Config" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="catalog" property="catalog" jdbcType="VARCHAR" />
    <result column="config_code" property="configCode" jdbcType="VARCHAR" />
    <result column="config_name" property="configName" jdbcType="VARCHAR" />
    <result column="config_value" property="configValue" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `catalog`, config_code, config_name, config_value, type, status, created_at, updated_at
  </sql>

  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_config
    where id = #{id}
  </select>

  <select id="selectConfig" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_config
    where config_code = #{configCode} and `catalog` = #{catalog}
  </select>

  <delete id="deleteConfig" >
    delete from tb_config
    where config_code = #{configCode} and `catalog` = #{catalog}
  </delete>

  <insert id="insert" parameterType="org.loxf.jyadmin.dal.po.Config" >
    insert into tb_config (`catalog`, config_code, config_name,
      config_value, `type`, status, created_at,
      updated_at)
    values (#{catalog,jdbcType=VARCHAR}, #{configCode,jdbcType=VARCHAR}, #{configName,jdbcType=VARCHAR},
      #{configValue,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 1, now(), now())
  </insert>

  <update id="updateByPrimaryKey" parameterType="org.loxf.jyadmin.dal.po.Config" >
    update tb_config
    set config_code = #{configCode,jdbcType=VARCHAR},
      config_name = #{configName,jdbcType=VARCHAR},
      config_value = #{configValue,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      updated_at = now()
    where id = #{id}
  </update>

  <select id="count" resultType="java.lang.Integer" parameterType="org.loxf.jyadmin.dal.po.Config">
    select count(1)
    from tb_config
    where 1=1
    <include refid="WHERE_SQL"/>
  </select>

  <select id="list" resultMap="BaseResultMap" parameterType="org.loxf.jyadmin.dal.po.Config">
    select <include refid="Base_Column_List"/>
    from tb_config
    where 1=1
    <include refid="WHERE_SQL"/>
    order by id DESC
    <if test="pager!=null">
      limit #{pager.start}, #{pager.size}
    </if>
  </select>

  <sql id="WHERE_SQL">
    <if test="catalog!=null and catalog!=''">
      and `catalog` = #{catalog}
    </if>
    <if test="configCode!=null and configCode!=''">
      and config_code like concat('%', #{configCode} ,'%')
    </if>
    <if test="configName!=null and configName!=''">
      and `config_name` like concat('%', #{configName} ,'%')
    </if>
    <if test="type!=null and type!=''">
      and `type` = #{type}
    </if>
    <if test="status!=null and status!=''">
      and `status` = #{status}
    </if>
  </sql>

  <update id="onOrOffConfig" parameterType="org.loxf.jyadmin.dal.po.Config" >
    update tb_config
    set status = #{status},
    updated_at = now()
    where id = #{id}
  </update>
</mapper>