<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loxf.jyadmin.dal.dao.CustBpDetailMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.jyadmin.dal.po.CustBpDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="detail_name" property="detailName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="bp_balance" property="bpBalance" jdbcType="DECIMAL" />
    <result column="change_balance" property="changeBalance" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    a.id, a.cust_id, (select nick_name from tb_cust t where t.cust_id = a.cust_id) as cust_name, a.detail_name, a.`type`,
    a.bp_balance, a.change_balance, a.created_at, a.updated_at
  </sql>
  <select id="count" resultType="int" parameterType="org.loxf.jyadmin.dal.po.CustBpDetail" >
    select count(1)
    from tb_cust_bp_detail a
    <if test="custName!=null and custName!=''">
      , tb_cust b
    </if>
    where 1=1
    <include refid="WHERE_SQL"/>
  </select>

  <select id="list" resultMap="BaseResultMap" parameterType="org.loxf.jyadmin.dal.po.CustBpDetail" >
    select
    <include refid="Base_Column_List" />
    from tb_cust_bp_detail a
    <if test="custName!=null and custName!=''">
      , tb_cust b
    </if>
    where 1=1
    <include refid="WHERE_SQL"/>
    order by a.created_at DESC
    <if test="pager!=null">
      limit #{pager.start}, #{pager.size}
    </if>
  </select>

  <insert id="insert" parameterType="org.loxf.jyadmin.dal.po.CustBpDetail" >
    insert into tb_cust_bp_detail (id, cust_id, detail_name, 
      `type`, bp_balance, change_balance,
      created_at, updated_at)
    values (#{id,jdbcType=BIGINT}, #{custId,jdbcType=VARCHAR}, #{detailName,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{bpBalance,jdbcType=DECIMAL}, #{changeBalance,jdbcType=INTEGER}, now(), now())
  </insert>

  <sql id="WHERE_SQL">
    <if test="custName!=null and custName!=''">
      and a.cust_id = b.cust_id
      and (b.nick_name like concat('%', #{custName}, '%') or b.real_name like concat('%', #{custName}, '%'))
    </if>
    <if test="detailName!=null and detailName!=''">
      and a.detail_name = #{detailName}
    </if>
    <if test="type!=null and type!=''">
      and a.`type` = #{type}
    </if>
    <if test="custId!=null and custId!=''">
      and a.cust_id = #{custId}
    </if>
    <if test="startDate!=null and startDate!=''">
      and a.created_at >= #{startDate}
    </if>
    <if test="endDate!=null and endDate!='' ">
      and a.created_at &lt; date_add(#{endDate}, INTERVAL 1 DAY)
    </if>
  </sql>
</mapper>