<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loxf.jyadmin.dal.dao.CustCashMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.jyadmin.dal.po.CustCash" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="fact_balance" property="factBalance" jdbcType="DECIMAL" />
    <result column="cmms_amt" property="cmmsAmt" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="obj_id" property="objId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="obj_id" property="objId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="lock" property="lock" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, cust_id, (select nick_name from tb_cust b where b.cust_id = a.cust_id) as cust_name,  balance, fact_balance, cmms_amt,
    `type`, obj_id, status, remark, `lock`, created_at, updated_at
  </sql>
  <select id="count" resultType="java.lang.Integer">
    select count(1)
    from tb_cust_cash
    where 1=1
    <include refid="WHERE_SQL"></include>
  </select>

  <select id="pager" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_cust_cash a
    where 1=1
    <include refid="WHERE_SQL"></include>
    order by created_at desc
    limit #{pager.start} , #{pager.size}
  </select>

  <sql id="WHERE_SQL">
    <if test="orderId!=null and orderId!=''">
      and order_id = #{orderId}
    </if>
    <if test="custId!=null and custId!=''">
      and cust_id = #{custId}
    </if>
    <if test="custName!=null and custName!=''">
      and cust_id in (select cust_id from tb_cust t where t.real_name = #{custName})
    </if>
    <if test="type!=null">
      and `type` = #{type}
    </if>
    <if test="status!=null">
      and status = #{status}
    </if>
    <if test="objId!=null and objId !='' ">
      and obj_id = #{objId}
    </if>
    <if test="startDate != null and startDate!=''">
      and created_at >= #{startDate,jdbcType=TIMESTAMP}
    </if>
    <if test="endDate != null and endDate!=''">
      and created_at &lt; date_add(#{endDate}, INTERVAL 1 DAY)
    </if>
    <if test="lock != null">
      and `lock` = #{lock}
    </if>
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_cust_cash a
    where order_id = #{orderId}
  </select>

  <insert id="insert" parameterType="org.loxf.jyadmin.dal.po.CustCash" >
    insert into tb_cust_cash (id, order_id, cust_id, balance, fact_balance, cmms_amt,
      `type`, obj_id, status, `lock`, remark,
      created_at, updated_at)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, #{factBalance,jdbcType=DECIMAL},
       #{cmmsAmt,jdbcType=DECIMAL}, #{type,jdbcType=INTEGER}, #{objId,jdbcType=VARCHAR}, 1, 0,  #{remark}, now(), now() )
  </insert>

  <insert id="insertList" parameterType="java.util.List" >
    insert into tb_cust_cash (id, order_id, cust_id, balance, fact_balance, cmms_amt,
    `type`, obj_id, status, `lock`, remark,
    created_at, updated_at)
    values
    <foreach collection="list" item="item" separator=",">
    (null, #{item.orderId,jdbcType=VARCHAR}, #{item.custId,jdbcType=VARCHAR},
      #{item.balance,jdbcType=DECIMAL}, #{item.factBalance,jdbcType=DECIMAL},
    #{item.cmmsAmt,jdbcType=DECIMAL}, #{item.type,jdbcType=INTEGER}, #{item.objId,jdbcType=VARCHAR}, #{item.status}, 0,
      #{item.remark}, #{item.createdAt}, now() )
    </foreach>
  </insert>


  <update id="update" >
    update tb_cust_cash
    <set >
      <if test="remark!=null and remark!='' ">
        remark = #{remark},
      </if>
      status = #{status},
      updated_at = now()
    </set>
    where order_id = #{orderId}
  </update>

  <update id="lock">
    update tb_cust_cash set `lock` = 1,
      updated_at = now()
    where order_id = #{orderId} and `lock` = 0
  </update>

  <update id="unlock">
    update tb_cust_cash set `lock` = 0,
    updated_at = now()
    where order_id = #{orderId} and `lock` = 1
  </update>
</mapper>