<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loxf.jyadmin.dal.dao.CustMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.jyadmin.dal.po.Cust" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="first_lv_nbr" property="firstLvNbr" jdbcType="INTEGER" />
    <result column="second_lv_nbr" property="secondLvNbr" jdbcType="INTEGER" />
    <result column="user_level" property="userLevel" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="is_chinese" property="isChinese" jdbcType="INTEGER" />
    <result column="recommend" property="recommend" jdbcType="VARCHAR" />
    <result column="recommend_link" property="recommendLink" jdbcType="VARCHAR" />
    <result column="is_agent" property="isAgent" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
    <result column="privilege" property="privilege" jdbcType="VARCHAR" />
    <result column="meta_data" property="metaData" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="xcx_openid" property="xcxOpenid" jdbcType="VARCHAR" />
    <result column="unionid" property="unionid" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cust_id, nick_name, real_name, first_lv_nbr, second_lv_nbr, user_level, phone, email, is_chinese, recommend,
    (select if(tt.is_chinese=1, phone, email) from tb_cust tt where tt.cust_id = a.recommend) as recommend_link,
    is_agent, sex, country, province, city, address, head_img_url, privilege, meta_data, openid, xcx_openid,
    unionid, is_deleted, created_at, updated_at
  </sql>
  <sql id="Simple_Column_List">
    cust_id, nick_name, real_name, user_level, phone, email, is_agent, is_chinese, openid, xcx_openid, unionid, is_deleted, created_at
  </sql>

  <select id="selectByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_cust a
    where openid = #{openid} and is_deleted = 0
  </select>

  <select id="selectByUnionid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_cust a
    where unionid = #{unionid} and is_deleted = 0
  </select>

  <select id="selectByCustId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_cust a
    where cust_id = #{custId} and is_deleted = 0
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_cust a
    where (nick_name like concat('%', #{name}, '%') or real_name like concat('%', #{name}, '%') ) and is_deleted = 0
  </select>

  <select id="selectByPhoneOrEmail" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_cust a
    where is_deleted = 0 and is_chinese = #{isChinese}
    <if test="isChinese==1">
      and phone = #{phone}
    </if>
    <if test="isChinese==2">
      and email = #{phone}
    </if>
  </select>

  <select id="existsByPhoneOrEmail" resultType="int" >
    select count(1)
    from tb_cust a
    where is_deleted = 0 and is_chinese = #{isChinese}
    <if test="isChinese==1">
      and phone = #{phone}
    </if>
    <if test="isChinese==2">
      and email = #{phone}
    </if>
  </select>

  <select id="pager" resultMap="BaseResultMap" parameterType="org.loxf.jyadmin.dal.po.Cust" >
    select
    <include refid="Base_Column_List" />
    from tb_cust a
    where is_deleted = 0
    <include refid="WHERE_SQL"/>
    order by created_at desc
    <if test="pager!=null">
      limit #{pager.start}, #{pager.size}
    </if>
  </select>

  <select id="count" resultType="java.lang.Integer" parameterType="org.loxf.jyadmin.dal.po.Cust" >
    select count(1)
    from tb_cust
    where is_deleted = 0
    <include refid="WHERE_SQL"/>
  </select>

  <select id="searchPager" resultMap="BaseResultMap" parameterType="org.loxf.jyadmin.dal.po.Cust" >
    select
    <include refid="Base_Column_List" />
    from tb_cust a
    where is_deleted = 0
    <include refid="SEARCH_WHERE_SQL"/>
    order by created_at desc
    <if test="pager!=null">
      limit #{pager.start}, #{pager.size}
    </if>
  </select>

  <select id="searchCount" resultType="java.lang.Integer" parameterType="org.loxf.jyadmin.dal.po.Cust" >
    select count(1)
    from tb_cust
    where is_deleted = 0
    <include refid="SEARCH_WHERE_SQL"/>
  </select>

  <sql id="SEARCH_WHERE_SQL">
    and (
    phone like CONCAT(#{phone},'%') OR
    email like CONCAT(#{email},'%') OR
    real_name like CONCAT('%', #{realName},'%') OR
    nick_name like CONCAT('%', #{nickName},'%')
    )
  </sql>

  <sql id="WHERE_SQL">
    <if test="nickName!=null and nickName!=''">
      and nick_name like CONCAT('%', #{nickName},'%')
    </if>
    <if test="realName!=null and realName!=''">
      and real_name like CONCAT('%', #{realName},'%')
    </if>
    <if test="userLevel!=null and userLevel!=''">
      and user_level = #{userLevel}
    </if>
    <if test="phone!=null and phone!=''">
      and phone like CONCAT(#{phone},'%')
    </if>
    <if test="email!=null and email!=''">
      and email like CONCAT(#{email},'%')
    </if>
    <if test="isChinese!=null and isChinese!=-1">
      and is_chinese = #{isChinese}
    </if>
    <if test="recommend!=null and recommend!=''">
      and recommend = #{recommend}
    </if>
    <if test="isAgent!=null and isAgent!=-1">
      and is_agent = #{isAgent}
    </if>
    <if test="country!=null and country!=''">
      and country = #{country}
    </if>
    <if test="province!=null and province!=''">
      and province = #{province}
    </if>
    <if test="city!=null and city!=''">
      and city = #{city}
    </if>
    <if test="sex!=null">
      and sex = #{sex}
    </if>
    <if test="startDate!=null and startDate!=''">
      and created_at >= #{startDate}
    </if>
    <if test="endDate!=null and endDate!='' ">
      and created_at &lt; date_add(#{endDate}, INTERVAL 1 DAY)
    </if>
  </sql>

  <update id="deleteCust" parameterType="java.lang.String" >
    update tb_cust set is_deleted = 1
    where cust_id = #{custId}
  </update>

  <insert id="insert" parameterType="org.loxf.jyadmin.dal.po.Cust" >
    insert into tb_cust (cust_id, nick_name, real_name, user_level, phone, email, first_lv_nbr, second_lv_nbr, is_chinese, recommend, is_agent,
    sex, country, province, city, address, head_img_url, privilege, meta_data, openid, xcx_openid, unionid, is_deleted, created_at, updated_at)
    values (#{custId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},#{realName,jdbcType=VARCHAR},
    #{userLevel}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 0, 0,
    #{isChinese,jdbcType=INTEGER}, #{recommend,jdbcType=VARCHAR}, #{isAgent}, #{sex,jdbcType=INTEGER},
    #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
    #{headImgUrl,jdbcType=VARCHAR}, #{privilege,jdbcType=VARCHAR}, #{metaData,jdbcType=VARCHAR},
    #{openid,jdbcType=VARCHAR}, #{xcxOpenid,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, 0,
    <if test="createdAt!=null">
      #{createdAt},
    </if>
    <if test="createdAt==null">
      now(),
    </if>
    now())
  </insert>

  <insert id="insertList" parameterType="org.loxf.jyadmin.dal.po.Cust" >
    insert into tb_cust (cust_id, nick_name, real_name, user_level, phone, email, first_lv_nbr, second_lv_nbr, is_chinese, recommend, is_agent,
    sex, country, province, city, address, head_img_url, privilege, meta_data, openid, unionid, is_deleted, created_at, updated_at)
    values
    <foreach collection="list" item="item" separator="," >
    (#{item.custId,jdbcType=VARCHAR}, #{item.nickName,jdbcType=VARCHAR},#{item.realName,jdbcType=VARCHAR},
    #{item.userLevel}, #{item.phone,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, 0, 0,
    #{item.isChinese,jdbcType=INTEGER}, #{item.recommend,jdbcType=VARCHAR}, #{item.isAgent}, #{item.sex,jdbcType=INTEGER},
    #{item.country,jdbcType=VARCHAR}, #{item.province,jdbcType=VARCHAR}, #{item.city,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR},
    #{item.headImgUrl,jdbcType=VARCHAR}, #{item.privilege,jdbcType=VARCHAR}, #{item.metaData,jdbcType=VARCHAR},
    #{item.openid,jdbcType=VARCHAR}, #{item.unionid,jdbcType=VARCHAR}, 0, #{item.createdAt}, now())
    </foreach>
  </insert>

  <update id="updateByCustIdOrOpenid" parameterType="org.loxf.jyadmin.dal.po.Cust" >
    update tb_cust
    set
    <if test="nickName!=null and nickName!=''">
      nick_name = #{nickName,jdbcType=VARCHAR},
    </if>
    <if test="realName!=null and realName!=''">
      real_name = #{realName,jdbcType=VARCHAR},
    </if>
    <if test="userLevel!=null and userLevel!=''">
      user_level = #{userLevel,jdbcType=VARCHAR},
    </if>
    <if test="phone!=null and phone!=''">
      phone = #{phone,jdbcType=VARCHAR},
    </if>
    <if test="email!=null and email!=''">
      email = #{email,jdbcType=VARCHAR},
    </if>
    <if test="isChinese!=null and isChinese!=-1">
      is_chinese = #{isChinese,jdbcType=INTEGER},
    </if>
    <if test="recommend!=null and recommend!=''">
      recommend = #{recommend,jdbcType=VARCHAR},
    </if>
    <if test="isAgent!=null and isAgent!=-1">
      is_agent = #{isAgent,jdbcType=INTEGER},
    </if>
    <if test="sex!=null and sex!=-1">
      sex = #{sex,jdbcType=INTEGER},
    </if>
    <if test="country!=null and country!=''">
      country = #{country,jdbcType=VARCHAR},
    </if>
    <if test="province!=null and province!=''">
      province = #{province,jdbcType=VARCHAR},
    </if>
    <if test="city!=null and city!=''">
      city = #{city,jdbcType=VARCHAR},
    </if>
    <if test="address!=null and address!=''">
      address = #{address,jdbcType=VARCHAR},
    </if>
    <if test="metaData!=null and metaData!=''">
      meta_data = #{metaData,jdbcType=VARCHAR},
    </if>
    <if test="headImgUrl!=null and headImgUrl!=''">
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
    </if>
    <if test="xcxOpenid!=null and xcxOpenid!=''">
      xcx_openid = #{xcxOpenid,jdbcType=VARCHAR},
    </if>
    <if test="unionid!=null and unionid!=''">
      unionid = #{unionid,jdbcType=VARCHAR},
    </if>
      updated_at = now()
    where 1=1
    <if test="custId!=null and custId!=''">
      and cust_id = #{custId}
    </if>
    <if test="openid!=null and openid!=''">
      and openid = #{openid,jdbcType=VARCHAR}
    </if>
  </update>

  <sql id="updateCustSQL">
    <if test="nickName!=null and nickName!=''">
      nick_name = #{nickName,jdbcType=VARCHAR},
    </if>
    <if test="realName!=null and realName!=''">
      real_name = #{realName,jdbcType=VARCHAR},
    </if>
    <if test="userLevel!=null and userLevel!=''">
      user_level = #{userLevel,jdbcType=VARCHAR},
    </if>
    <if test="phone!=null and phone!=''">
      phone = #{phone,jdbcType=VARCHAR},
    </if>
    <if test="email!=null and email!=''">
      email = #{email,jdbcType=VARCHAR},
    </if>
    <if test="isChinese!=null and isChinese!=-1">
      is_chinese = #{isChinese,jdbcType=INTEGER},
    </if>
    <if test="recommend!=null and recommend!=''">
      recommend = #{recommend,jdbcType=VARCHAR},
    </if>
    <if test="isAgent!=null and isAgent!=-1">
      is_agent = #{isAgent,jdbcType=INTEGER},
    </if>
    <if test="sex!=null and sex!=-1">
      sex = #{sex,jdbcType=INTEGER},
    </if>
    <if test="country!=null and country!=''">
      country = #{country,jdbcType=VARCHAR},
    </if>
    <if test="province!=null and province!=''">
      province = #{province,jdbcType=VARCHAR},
    </if>
    <if test="city!=null and city!=''">
      city = #{city,jdbcType=VARCHAR},
    </if>
    <if test="address!=null and address!=''">
      address = #{address,jdbcType=VARCHAR},
    </if>
    <if test="metaData!=null and metaData!=''">
      meta_data = #{metaData,jdbcType=VARCHAR},
    </if>
    <if test="headImgUrl!=null and headImgUrl!=''">
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
    </if>
    <if test="xcxOpenid!=null and xcxOpenid!=''">
      xcx_openid = #{xcxOpenid,jdbcType=VARCHAR},
    </if>
    <if test="openid!=null and openid!=''">
      openid = #{openid,jdbcType=VARCHAR},
    </if>
  </sql>

  <update id="updateByCustId" parameterType="org.loxf.jyadmin.dal.po.Cust" >
    update tb_cust
    set
    <include refid="updateCustSQL"/>
    updated_at = now()
    where 1=1 and cust_id = #{custId}
  </update>

  <update id="updateByUnionId" parameterType="org.loxf.jyadmin.dal.po.Cust" >
    update tb_cust
    set
    <include refid="updateCustSQL"/>
    updated_at = now()
    where 1=1 and unionid = #{unionid,jdbcType=VARCHAR}
  </update>

  <select id="queryChildList" resultMap="BaseResultMap" >
    select
    <include refid="Simple_Column_List" />
    from tb_cust
    where recommend in (
    <foreach collection="list" item="item" separator="," >
      #{item}
    </foreach>
    )
    order by created_at desc
      limit #{start}, #{size}
  </select>

  <select id="queryChildListCount" resultType="java.lang.Integer">
    select count(1)
    from tb_cust
    where recommend in (
    <foreach collection="list" item="item" separator=",">
      #{item}
    </foreach>
    )
  </select>

  <update id="updateChildNbr">
    update tb_cust set updated_at = now()
    <if test="type==1 and isAdd==1">
      , first_lv_nbr = first_lv_nbr + 1
    </if>
    <if test="type==1 and isAdd==2">
      , first_lv_nbr = first_lv_nbr - 1
    </if>
    <if test="type==2 and isAdd==1">
      , second_lv_nbr = second_lv_nbr + 1
    </if>
    <if test="type==2 and isAdd==2">
      , second_lv_nbr = second_lv_nbr - 1
    </if>
    where cust_id = #{custId}
  </update>

  <select id="queryCustIncreaseLast7Day" resultType="java.util.HashMap">
    select date_format(created_at, '%Y-%m-%d') as `name`, count(1) as `value` from tb_cust where is_deleted=0
      and TO_DAYS(NOW())-TO_DAYS(created_at)&lt;=7
    group by date_format(created_at, '%Y-%m-%d')
  </select>

  <select id="queryCustUserLevelDistribute" resultType="java.util.HashMap">
    select if(user_level='NONE','普通会员',user_level) as name, count(1) as value from tb_cust where is_deleted=0 GROUP BY user_level
    union all
    select if(is_agent=1,'代理商', if(is_agent=2,'合伙人','分公司')) as name, count(1) as value from tb_cust
      where is_deleted=0 and is_agent &lt;&gt; 0 GROUP BY is_agent
  </select>

  <select id="selectOldCust" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_cust a
    where openid is null
      and phone = #{phone}
  </select>

  <select id="queryOldCustDealRecommend" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_cust a
    where is_deleted =0
    and cust_id like 'OLD%'
    and recommend is not null
  </select>

  <update id="updateOldCustInfo" parameterType="org.loxf.jyadmin.dal.po.Cust" >
    update tb_cust
    set
    <if test="nickName!=null and nickName!=''">
      nick_name = #{nickName,jdbcType=VARCHAR},
    </if>
    <if test="realName!=null and realName!=''">
      real_name = #{realName,jdbcType=VARCHAR},
    </if>
    <if test="userLevel!=null and userLevel!=''">
      user_level = #{userLevel,jdbcType=VARCHAR},
    </if>
    <if test="phone!=null and phone!=''">
      phone = #{phone,jdbcType=VARCHAR},
    </if>
    <if test="email!=null and email!=''">
      email = #{email,jdbcType=VARCHAR},
    </if>
    <if test="isChinese!=null and isChinese!=-1">
      is_chinese = #{isChinese,jdbcType=INTEGER},
    </if>
    <if test="recommend!=null and recommend!=''">
      recommend = #{recommend,jdbcType=VARCHAR},
    </if>
    <if test="isAgent!=null and isAgent!=-1">
      is_agent = #{isAgent,jdbcType=INTEGER},
    </if>
    <if test="sex!=null and sex!=-1">
      sex = #{sex,jdbcType=INTEGER},
    </if>
    <if test="country!=null and country!=''">
      country = #{country,jdbcType=VARCHAR},
    </if>
    <if test="province!=null and province!=''">
      province = #{province,jdbcType=VARCHAR},
    </if>
    <if test="city!=null and city!=''">
      city = #{city,jdbcType=VARCHAR},
    </if>
    <if test="address!=null and address!=''">
      address = #{address,jdbcType=VARCHAR},
    </if>
    <if test="metaData!=null and metaData!=''">
      meta_data = #{metaData,jdbcType=VARCHAR},
    </if>
    <if test="headImgUrl!=null and headImgUrl!=''">
      head_img_url = #{headImgUrl,jdbcType=VARCHAR},
    </if>
    <if test="openid!=null and openid!=''">
      openid = #{openid,jdbcType=VARCHAR},
    </if>
    <if test="xcxOpenid!=null and xcxOpenid!=''">
      xcx_openid = #{xcxOpenid,jdbcType=VARCHAR},
    </if>
    <if test="unionid!=null and unionid!=''">
      unionid = #{unionid,jdbcType=VARCHAR},
    </if>
    updated_at = now()
    where cust_id = #{custId}
  </update>

  <select id="queryCustWithoutUnion" resultMap="BaseResultMap" >
    select * from tb_cust where unionid is null and openid is not null;
  </select>

  <update id="updateUnionidByCustId">
    update tb_cust set unionid=#{unionid} where cust_id = #{custId}
  </update>
</mapper>