<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loxf.jyadmin.dal.dao.OfferMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.jyadmin.dal.po.Offer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="offer_id" property="offerId" jdbcType="VARCHAR" />
    <result column="offer_name" property="offerName" jdbcType="VARCHAR" />
    <result column="offer_desc" property="offerDesc" jdbcType="VARCHAR" />
    <result column="catalog_id" property="catalogId" jdbcType="VARCHAR" />
    <result column="catalog_name" property="catalogName" jdbcType="VARCHAR" />
    <result column="offer_type" property="offerType" jdbcType="VARCHAR" />
    <result column="sale_money" property="saleMoney" jdbcType="DECIMAL" />
    <result column="offer_pic" property="offerPic" jdbcType="VARCHAR" />
    <result column="main_media" property="mainMedia" jdbcType="VARCHAR" />
    <result column="buy_privi" property="buyPrivi" jdbcType="VARCHAR" />
    <result column="meta_data" property="metaData" jdbcType="VARCHAR" />
    <result column="html_id" property="htmlId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, offer_id, offer_name, offer_desc, catalog_id,
     offer_type, sale_money, offer_pic, main_media, buy_privi, meta_data, html_id, status, is_deleted, created_at, updated_at
  </sql>
  <select id="selectByOfferId" resultMap="BaseResultMap" parameterType="String" >
    select (select CATALOG_NAME from tb_offer_catalog b where b.CATALOG_id = t.CATALOG_id) as `CATALOG_NAME`, t.*
    from tb_offer t
    where offer_id = #{offerId}
  </select>

  <select id="pager" resultMap="BaseResultMap">
    select (select CATALOG_NAME from tb_offer_catalog b where b.CATALOG_id = t.CATALOG_id) as `CATALOG_NAME`,
    <if test="offer.sortType!=null and offer.sortType=='HOT'">
      locate('"HOT":"on"', meta_data) orderNbr,
    </if>
    t.*
    from tb_offer t
    where is_deleted = 0
    <include refid="WHERE_SQL"></include>
    <if test="appType==1">
      order by created_at desc
    </if>
    <if test="appType==2">
      <if test="offer.sortType!=null and offer.sortType==''">
        order by created_at desc
      </if>
      <if test="offer.sortType!=null and offer.sortType=='HOT'">
        order by orderNbr, created_at desc
      </if>
    </if>
    <if test="offer.pager!=null">
      limit #{offer.pager.start}, #{offer.pager.size}
    </if>
  </select>

  <select id="count" resultType="java.lang.Integer" >
    select count(1)
    from tb_offer
    where is_deleted = 0
    <include refid="WHERE_SQL"></include>
  </select>

  <sql id="WHERE_SQL">
    <if test="offer.offerName!=null and offer.offerName!=''">
      and offer_name like concat('%', #{offer.offerName}, '%')
    </if>
    <if test="offer.catalogId!=null and offer.catalogId!=''">
      and catalog_id = #{offer.catalogId}
    </if>
    <if test="offer.offerType!=null and offer.offerType!=''">
      and offer_type = #{offer.offerType}
    </if>
    <if test="offer.buyPrivi!=null and offer.buyPrivi!=''">
      and buy_privi like concat('%', #{offer.buyPrivi}, '%')
    </if>
    <if test="offer.metaData!=null and offer.metaData!=''">
      and meta_data like concat('%"', #{offer.metaData}, '"%')
    </if>
    <if test="offer.status!=null">
      and status = #{offer.status}
    </if>
    <if test="offer.startDate!=null and offer.startDate!=''">
      and created_at >= #{offer.startDate}
    </if>
    <if test="offer.endDate!=null and offer.endDate!='' ">
      and created_at &lt; date_add(#{offer.endDate}, INTERVAL 1 DAY)
    </if>
    <if test="appType==2">
      and offer_type in ('OFFER', 'CLASS')
      and status = 1
    </if>
  </sql>

  <update id="deleteByOfferId" parameterType="java.lang.String" >
    update tb_offer set is_deleted = 1
    where offer_id = #{offerId}
  </update>

  <insert id="insert" parameterType="org.loxf.jyadmin.dal.po.Offer" >
    insert into tb_offer (offer_id, offer_name, offer_desc,
      catalog_id, offer_type, sale_money,
      offer_pic, main_media, buy_privi,
      meta_data, html_id, status, 
      is_deleted, created_at, updated_at
      )
    values (#{offerId,jdbcType=VARCHAR}, #{offerName,jdbcType=VARCHAR}, #{offerDesc,jdbcType=VARCHAR},
      #{catalogId,jdbcType=VARCHAR}, #{offerType,jdbcType=VARCHAR}, #{saleMoney,jdbcType=DECIMAL},
      #{offerPic,jdbcType=DECIMAL}, #{mainMedia,jdbcType=VARCHAR}, #{buyPrivi,jdbcType=VARCHAR},
      #{metaData,jdbcType=VARCHAR}, #{htmlId,jdbcType=VARCHAR}, 0, 0, now(), now()
      )
  </insert>

  <update id="updateByOfferId" parameterType="org.loxf.jyadmin.dal.po.Offer" >
    update tb_offer
    set
    <if test="offerName!=null and offerName!=''">
      offer_name = #{offerName,jdbcType=VARCHAR},
    </if>
    <if test="offerDesc!=null and offerDesc!=''">
      offer_desc = #{offerDesc,jdbcType=VARCHAR},
    </if>
    <if test="catalogId!=null and catalogId!=''">
      catalog_id = #{catalogId,jdbcType=VARCHAR},
    </if>
    <if test="offerType!=null and offerType!=''">
      offer_type = #{offerType,jdbcType=VARCHAR},
    </if>
    <if test="saleMoney!=null and saleMoney!=''">
      sale_money = #{saleMoney,jdbcType=DECIMAL},
    </if>
    <if test="offerPic!=null and offerPic!=''">
      offer_pic = #{offerPic,jdbcType=DECIMAL},
    </if>
    <if test="mainMedia!=null and mainMedia!=''">
      main_media = #{mainMedia,jdbcType=VARCHAR},
    </if>
    <if test="buyPrivi!=null">
      buy_privi = #{buyPrivi,jdbcType=VARCHAR},
    </if>
    <if test="metaData!=null and metaData!=''">
      meta_data = #{metaData,jdbcType=VARCHAR},
    </if>
    <if test="htmlId!=null and htmlId!=''">
      html_id = #{htmlId,jdbcType=VARCHAR},
    </if>
      updated_at = now()
    where offer_id = #{offerId,jdbcType=VARCHAR}
  </update>

  <update id="onOrOffOffer">
    update tb_offer set status = #{status} where offer_id = #{offerId}
  </update>

  <select id="pagerOfferAndActive" parameterType="String" resultMap="BaseResultMap">
    SELECT	* FROM
	(
		SELECT A.offer_name, A.offer_desc, A.offer_id,A.offer_type,a.sale_money,a.buy_privi,a.created_at
		FROM	tb_offer a	WHERE
			a.offer_type IN ('VIP', 'CLASS')
			<if test="name!=null and name!=''"> and a.offer_name like concat('%', #{name}, '%')</if>
		UNION ALL
		SELECT	B.active_name AS offer_name, B.active_desc AS offer_desc, b.active_id AS offer_id,'ACTIVE' AS offer_type,
				b.price AS sale_money,b.active_privi AS buy_privi,b.created_at
		FROM tb_active b WHERE 1=1
            <if test="name!=null and name!=''"> and b.active_name like concat('%', #{name}, '%')</if>
	) t ORDER BY created_at DESC
  </select>

  <select id="showOfferByOfferIdAndRelType" resultMap="BaseResultMap">
    select a.sort, (select cc.CATALOG_NAME from tb_offer_catalog cc where cc.CATALOG_id = b.CATALOG_id) as `CATALOG_NAME`,
     b.offer_name, b.offer_desc, b.offer_id,b.offer_type,b.sale_money,b.buy_privi, b.main_media, b.created_at
    from tb_offer_rel a, tb_offer b
    where a.rel_id = b.offer_id and a.offer_type &lt;&gt;'ACTIVE' and a.offer_id = #{offerId} and  a.rel_type = #{relType}
    union all
    select a.sort, '' as `CATALOG_NAME`, c.active_name AS offer_name,
	c.active_desc as offer_desc, c.active_id AS offer_id,'ACTIVE' AS offer_type,
    c.price AS sale_money,c.active_privi AS buy_privi, null, c.created_at
    from tb_offer_rel a, tb_active c
    where a.rel_id = c.active_id and a.offer_type='ACTIVE' and a.offer_id = #{offerId} and  a.rel_type = #{relType}
    order by sort
  </select>
</mapper>