<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loxf.jyadmin.dal.dao.SystemLogMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.jyadmin.dal.po.SystemLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="page" property="page" jdbcType="VARCHAR" />
    <result column="os" property="os" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cust_id, ip, page, os, `position`, created_at
  </sql>
  <select id="selectList" resultMap="BaseResultMap" parameterType="org.loxf.jyadmin.dal.po.SystemLog" >
    select 
    <include refid="Base_Column_List" />
    from tb_system_log
    where 1=1
    <if test="custId!=null and custId!=''">
      cust_id = #{custId}
    </if>
    <if test="os!=null and os!=''">
      os = #{os}
    </if>
    <if test="ip!=null and ip!=''">
      ip = #{ip}
    </if>
    <if test="page!=null and page!=''">
      page = #{page}
    </if>
    <if test="position!=null and position!=''">
      `position` = #{position}
    </if>
  </select>

  <insert id="insert" parameterType="org.loxf.jyadmin.dal.po.SystemLog" >
    insert into tb_system_log (id, cust_id, ip, 
      page, os, `position`,
      created_at)
    values (#{id,jdbcType=BIGINT}, #{custId,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{page,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, now())
  </insert>
</mapper>