<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loxf.jyadmin.dal.dao.TradeMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.jyadmin.dal.po.Trade" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, state, msg, created_at, updated_at
  </sql>

  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from tb_trade where order_id = #{orderId}
  </select>

  <select id="selectList" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from tb_trade
    where state = #{state}
    order by updated_at
    limit 0, #{size}
  </select>

  <insert id="insert" parameterType="org.loxf.jyadmin.dal.po.Trade" >
    insert into tb_trade (id, order_id, state,
    msg, created_at, updated_at
    )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER},
    #{msg,jdbcType=VARCHAR}, now(), now())
  </insert>

  <update id="updateByOrderId">
    update tb_trade
    set state = #{state,jdbcType=INTEGER},
      msg = #{msg,jdbcType=VARCHAR},
      updated_at = now()
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>