<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loxf.jyadmin.dal.dao.VipInfoMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.jyadmin.dal.po.VipInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="meta_data" property="metaData" jdbcType="VARCHAR" />
    <result column="eff_date" property="effDate" jdbcType="TIMESTAMP" />
    <result column="exp_date" property="expDate" jdbcType="TIMESTAMP" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cust_id, status, `type`, meta_data, eff_date, exp_date, created_at, updated_at
  </sql>
  <select id="queryExpireInfo" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_vip_info
    where exp_date &lt; now() and status = 1
  </select>

  <select id="selectByCustId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_vip_info
    where cust_id = #{custId}
  </select>
  <insert id="insert" parameterType="org.loxf.jyadmin.dal.po.VipInfo" >
    insert into tb_vip_info (id, cust_id, status, meta_data,
      type, eff_date, exp_date, 
      created_at, updated_at)
    values (#{id,jdbcType=BIGINT}, #{custId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{metaData,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{effDate,jdbcType=TIMESTAMP}, #{expDate,jdbcType=TIMESTAMP}, now(), now())
  </insert>
  <update id="updateByCustId" parameterType="org.loxf.jyadmin.dal.po.VipInfo" >
    update tb_vip_info
    set
    <if test="status!=null">
      status = #{status,jdbcType=INTEGER},
    </if>
    <if test="type!=null and type!=''">
      type = #{type,jdbcType=VARCHAR},
    </if>
    <if test="effDate!=null and effDate!=''">
      eff_date = #{effDate,jdbcType=TIMESTAMP},
    </if>
    <if test="expDate!=null and expDate!=''">
      exp_date = #{expDate,jdbcType=TIMESTAMP},
    </if>
      updated_at = now()
    where cust_id = #{custId}
  </update>
</mapper>