<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loxf.jyadmin.dal.dao.WatchRecordMapper" >
  <resultMap id="BaseResultMap" type="org.loxf.jyadmin.dal.po.WatchRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="watch_id" property="watchId" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="offer_name" property="offerName" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="offer_id" property="offerId" jdbcType="VARCHAR" />
    <result column="video_id" property="videoId" jdbcType="VARCHAR" />
    <result column="video_name" property="videoName" jdbcType="VARCHAR" />
    <result column="meta_data" property="metaData" jdbcType="VARCHAR" />
    <result column="minutes" property="minutes" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, watch_id, cust_id, video_id, minutes, status, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_watch_record
    where watch_id = #{watchId}
  </select>
  <insert id="insert" parameterType="org.loxf.jyadmin.dal.po.WatchRecord" >
    insert into tb_watch_record (id, watch_id, cust_id, offer_id, video_id, minutes, status,
      created_at, updated_at)
    values (#{id,jdbcType=BIGINT}, #{watchId,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, #{offerId,jdbcType=VARCHAR},
          #{videoId,jdbcType=VARCHAR}, 0, 1, now(), now())
  </insert>

  <update id="updateMinutes" parameterType="String" >
    update tb_watch_record
    set minutes = minutes + 1,
      updated_at = now()
    where watch_id = #{watchId} and status=1
  </update>

  <update id="updateStatus" parameterType="String" >
    update tb_watch_record
    set status = 3,
    updated_at = now()
    where watch_id = #{watchId}
  </update>

  <select id="count" resultType="java.lang.Integer" parameterType="org.loxf.jyadmin.dal.po.WatchRecord">
    select count(1) from tb_watch_record a where 1=1
    <include refid="WHERE_SQL"/>
  </select>

  <select id="list" resultMap="BaseResultMap" parameterType="org.loxf.jyadmin.dal.po.WatchRecord">
    select b.nick_name,d.offer_name,d.offer_pic as pic,d.meta_data,a.*
    from tb_watch_record a, tb_cust b, tb_offer d
    where a.cust_id = b.cust_id
    AND a.offer_id = d.offer_id
    <include refid="WHERE_SQL"/>
    order by created_at desc
    <if test="pager!=null">
      limit #{pager.start}, #{pager.size}
    </if>
  </select>

  <sql id="WHERE_SQL">
    <if test="videoId!=null and videoId!=''">
      and a.video_id = #{videoId}
    </if>
    <if test="custId!=null and custId!=''">
      and a.cust_id = #{custId}
    </if>
  </sql>

  <select id="queryNeedAddBp" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_watch_record
    where status = 1 and updated_at &lt; date_add(now(), INTERVAL -2 MINUTE )
  </select>
</mapper>