
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>修改$!{typeDesc}</legend>
</fieldset>

<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">文章标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" value="$!{news.title}" lay-verify="title" autocomplete="off" placeholder="请输入标题（建议40字以内）"
                   class="layui-input">
            <input type="hidden" value="$!{news.type}" name="type"/>
            <input type="hidden" value="$!{news.titleId}" name="titleId"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">关键词</label>
        <div class="layui-input-block">
            <input type="text" name="keyword" value="$!{news.keyword}" lay-verify="keyword" autocomplete="off" placeholder="请输入最能代表这篇文章的关键词，建议3个，空格或小逗号隔开"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">文章摘要</label>
        <div class="layui-input-block">
            <textarea rows="4" name="description" lay-verify="description" autocomplete="off" placeholder="文章的描述，微信推送/分享时使用。建议能表达出中心。"
                      class="layui-input">$!{news.description}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">文章来源</label>
            <div class="layui-input-inline">
                <input type="text" name="source" lay-verify="source" value="$!{news.source}" autocomplete="off" placeholder="作者/来源"
                       value="静怡雅学文化" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文章内容</label>
        #parse("/views/common/editor.vm")
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="newsData">保存内容</button>
        </div>
    </div>
</form>

<script>
    var form = layui.form
            ,layer = layui.layer
            ,upload = layui.upload;

    upload.render({
        elem: '.uploadImg'
        ,size : 3072
        ,accept: 'images'
        ,before: function(obj){
            var name = this.item.attr("id");
            name = name.replace('Btn', 'Img')
            obj.preview(function(index, file, result){
                $('#'+name).attr('src', result); //图片链接（base64）
            });
        }
        ,done: function(res, index, upload){
            if(res.code===1){
                var name = this.item.attr("id");
                name = name.replace('Btn', '');
                $('#'+name).val(res.data.src);
            } else {
                layer.tips(res.msg);
            }
        }
    });

    //自定义验证规则
    form.verify({
        title: function(value){
            if(value.length < 4){
                return '标题至少4个字';
            } else if(value.length >40){
                return '标题不能超过40个字';
            }
        },
        keyword: function(value){
            if(value.length < 1){
                return '关键词不能为空';
            } else if(value.length >40){
                return '关键词不能超过40个字';
            }
        },
        description : function (value) {
            if(value.length < 10){
                return '摘要至少10个字';
            } else if(value.length >100){
                return '摘要不能超过100个字';
            }
        },
        source : function (value) {
            if(value.length < 1){
                return '来源不能为空';
            }
        }
    });

    //监听提交
    form.on('submit(newsData)', function(data){
        var htmlId = saveHtml(data.field.htmlId);
        if (!htmlId) {
            return false;
        }
        data.field.contextId = htmlId;
        $.ajax({
            type: "POST",
            url: contextPath + "/admin/news/updateNews.html",
            data : data.field,
            dataType:"json",
            success: function(result) {
                if(result.code == 1){
                    parent.searchList();
                    parent.layer.closeAll();
                } else {
                    parent.layer.msg(result.msg);
                }
            }
        });
        return false;
    });
    form.render();
</script>
